<h1 > Terminbuchung für Verabreichung von Medikamenten (Wohnsitz-Bezirk =
  {{this.personService.getPerson().county}})</h1>
<br>
<h3>1) Standort wählen:</h3>
<div class="p-fluid grid">
  <div class="field col-12 md:col-4">
     <span class="p-0">
        <p-dropdown placeholder="Wählen Sie den Standort" [options]='this.locNameAvailable'
                    [(ngModel)]="locNameChoosen" (onChange)="getDatesAvailable()" >
        </p-dropdown>
        </span>
  </div>
</div>

<h3>2) Tag wählen:</h3>
<div class="p-fluid grid">
  <div class="field col-12 md:col-4">
     <span class="p-0">
        <p-dropdown placeholder="Wählen Sie den Tag" [options]='this.datesFree'
                    [(ngModel)]="this.dateChoosen" (onChange)="getTimesAvailable()">
        </p-dropdown>
        </span>
  </div>
</div>

<h3>3) Uhrzeit wählen:</h3>
<div class="p-fluid grid">
  <div class="field col-12 md:col-4">
     <span class="p-0">
        <p-dropdown placeholder="Wählen Sie die Uhrzeit" [options]='this.timeFree'
                    [(ngModel)]="this.timeChoosen" (onChange)="getSubstancesAvailable()">
        </p-dropdown>
        </span>
  </div>
</div>

<h3>4) Medikament wählen:</h3>
<div class="p-fluid grid">
  <div class="field col-12 md:col-4">
     <span class="p-0">
        <p-dropdown placeholder="Wählen Sie das Medikament" [options]='this.substAvailAgeChecked'
                    [(ngModel)]="substChoosen" >
        </p-dropdown>
        </span>
  </div>
</div>

<div class="p-fluid grid">
  <div class="field col-12 md:col-4">
    <span class="p-float-label p-input-icon-left">
         <button pButton id = "btn1" type="button" label="Termin buchen" (click)="savePerson()"
                 class="p-button-info"></button>
       <div *ngIf="errorMessage == 'ok' " class="alert alert-success">
                <p-dialog [closable]=false header="Info"  [(visible)]="visible"  [style]="{width: '30vw'}">
                    Ihr Termin wurde erfolgreich gespeichert. <br> <br>
                    Standort: {{this.appToPost.nameLocation}} <br>
                    Tag, Uhrzeit: {{this.appToPost.date}}<br>
                    Impfstoff: {{this.appToPost.article}}
                  <br>
                  <br>
                  <button pButton type="button" label = "OK" (click)="shouldOpenStartTab()" class="p-button-success"></button>

                </p-dialog>

              </div>
                    <div *ngIf="errorMessage != 'ok' && errorMessage != '' " class="alert alert-warning">
                <p-dialog [closable]=false header="Fehler!"  [style]="{width: '30vw'}">
                    {{errorMessage}}
                  <br>
                  <br>
                  <button pButton type="button" label = "OK"  class="p-button-danger"></button>
                </p-dialog>
              </div>

             </span>
  </div>
</div>

