<h1 >Terminbuchung für Impfung/Verabreichung von Medikamenten in OÖ</h1>
<br>
<h2>1) Eingabe Ihrer persönlichen Daten</h2>
<h3>Allgemeine Daten</h3>
<div class="p-fluid grid">
  <div class="field col-12 md:col-4">
        <span class="p-float-label ">
          <!--<i class="pi pi-user"></i> -->
            <input type="text" id="svnr" pInputText [(ngModel)]="person.svnr">
            <label for="svnr">Sozialversicherungs-Nr. (10stellig, inkl. Geburtsdatum TTMMJJ)</label>
        </span>
  </div>

  <div class="field col-12 md:col-4">
        <span class="p-float-label " >
           <!--<i class="pi pi-user"></i> -->
            <input type="text" id="firstName" pInputText [(ngModel)]="person.firstName">
            <label for="firstName">Vorname</label>
        </span>
  </div>
  <div class="field col-12 md:col-4">
         <span class="p-float-label " >
           <!--<i class="pi pi-user"></i> -->
            <input type="text" id="lastName" pInputText [(ngModel)]="person.lastName">
            <label for="lastName">Nachname</label>
        </span>
  </div>


  <div class="field col-12 md:col-4">
   <span class="p-float-label " >
           <!--<i class="pi pi-user"></i> -->
            <p-calendar  id="calendar"  dateFormat="dd/mm/yy" [(ngModel)]="person.birthday"></p-calendar>
            <label for="calendar">Geburtsdatum</label>
        </span>
  </div>

  <div class="field col-12 md:col-4">
    <span class="p-float-label " >
           <!--<i class="pi pi-user"></i> -->
            <input type="text" id="email" pInputText [(ngModel)]="person.email">
            <label for="email">Email</label>
        </span>
  </div>

  <div class="field col-12 md:col-4">
  <span class="p-float-label " >
           <!--<i class="pi pi-user"></i> -->
            <input type="text" id="telefonnummer" pInputText [(ngModel)]="person.phoneNr" >
            <label for="telefonnummer">Telefonnummer, zB 0664/2815987</label>
        </span>
  </div>
</div>

<h3>Addresse</h3>

<div class="p-fluid grid">
  <div class="field col-12 md:col-4">
  <span class="p-float-label " >
           <!--<i class="pi pi-home"></i> -->
            <input type="text" id="streetAndDoor" pInputText [(ngModel)]="person.streetAndDoorNr">
            <label for="streetAndDoor">Straße und Hausnummer</label>
        </span>
  </div>
  <div class="field col-12 md:col-4">
  <span class="p-float-label " >
           <!--<i class="pi pi-user"></i> -->
            <input type="text" id="postalCode" pInputText [(ngModel)]="person.postalCode">
            <label for="postalCode">Postleitzahl</label>
        </span>
  </div>

  <div class="field col-12 md:col-4">
  <span class="p-float-label " >
           <!--<i class="pi pi-user"></i> -->
            <input type="text" id="city" pInputText [(ngModel)]="person.city">
            <label for="city">Ort</label>
        </span>
  </div>


  <div class="field col-12 md:col-4">
     <span class="p-0">
        <p-dropdown placeholder="Wählen Sie den Bezirk" [options]="counties" [(ngModel)]="person.county"
        ></p-dropdown>
        </span>
  </div>
</div>

<h2>2) Termin buchen </h2>
<div class="p-fluid grid">

  <div class="field col-12 md:col-4">
    <span class="p-float-label p-input-icon-left">
         <button pButton id = "btn1" type="button" label="Termin für Impfung buchen" (click)="getErrorDetails()"
                 class="p-button-info"></button>
              <div *ngIf="errorMessage == 'ok' && !this.wantsMedication" class="alert alert-success">
                <p-dialog [closable]=false header="Info"  [(visible)]="visible" [style]="{width: '30vw'}">
                    Sie werden zur Terminauswahl weitergeleitet.
                  <br>
                  <br>
                  <button pButton type="button" label = "OK" (click)="shouldOpenBookVacc()" class="p-button-success"></button>

                </p-dialog>

              </div>
                    <div *ngIf="errorMessage != 'ok' && errorMessage != '' && !this.wantsMedication" class="alert alert-warning">
                <p-dialog [closable]=false header="Fehler!"  [(visible)]="visible" [style]="{width: '30vw'}">
                    {{errorMessage}}
                  <br>
                  <br>
                  <button pButton type="button" label = "OK" (click)="refresh()" class="p-button-danger"></button>
                </p-dialog>
              </div>


             </span>
  </div>
  <div class="field col-12 md:col-4">
    <span class="p-float-label p-input-icon-left">
         <button pButton id ="btn2" type="button"
                 label="Termin für Medikamentenverabreichung buchen" (click)="getSickInformation()"
                 class="p-button-info"></button>

       </span>
  </div>

  <div *ngIf="this.wantsMedication && medicationCondFullfilled && errorMessageMedication == 'ok'
        && errorMessage == 'ok'" class="alert alert-success">
    <p-dialog [closable]=false header="Info"  [(visible)]="visible" [style]="{width: '30vw'}">
      Sie erfüllen die nötigen Voraussetzungen. <br /> Sie werden zur Terminauswahl weitergeleitet.
      <br>
      <br>
      <button pButton type="button" label = "OK" (click)="shouldOpenBookMedic()"
              class="p-button-success"></button>
    </p-dialog>
  </div>

  <!--

  <div *ngIf="this.wantsMedication && !medicationCondFullfilled && errorMessageMedication != ''
        && errorMessage == ''" class="alert alert-warning">
    <p-dialog [closable]=false header="Fehler!"  [(visible)]="visible" [style]="{width: '30vw'}">
      {{errorMessageMedication}}
      <br>
      <br>
      <button pButton type="button" label = "OK" (click)="refresh()" class="p-button-danger"></button>
    </p-dialog>
  </div>

  <div *ngIf="this.wantsMedication && medicationCondFullfilled && errorMessageMedication == 'ok'
            && errorMessage != 'ok' && errorMessage != ''"
       class="alert alert-warning">
    <p-dialog [closable]=false header="Fehler!"  [(visible)]="visible" [style]="{width: '30vw'}">
      {{errorMessage}}
      <br>
      <br>
      <button pButton type="button" label = "OK" (click)="refresh()" class="p-button-danger"></button>
    </p-dialog>
  </div>   -->


  <div *ngIf=" this.wantsMedication && errorMessage != 'ok' && errorMessage != ''
            && errorMessageMedication != 'ok' " class="alert alert-warning">
    <p-dialog [closable]=false header="Fehler!"  [(visible)]="visible" [style]="{width: '30vw'}">
      {{errorMessage}}
      <br>
      <br>
      <button pButton type="button" label = "OK" (click)="refresh()" class="p-button-danger"></button>
    </p-dialog>
  </div>

  <div *ngIf="this.wantsMedication && errorMessageMedication != 'ok' && errorMessageMedication != ''
            && this.errorMessage == 'ok' "   class="alert alert-warning">
    <p-dialog [closable]=false header="Fehler!"  [(visible)]="visible" [style]="{width: '30vw'}">
      {{errorMessageMedication}}
      <br>
      <br>
      <button pButton type="button" label = "OK" (click)="refresh()" class="p-button-danger"></button>
    </p-dialog>
  </div>

  <div *ngIf="this.wantsMedication && errorMessageMedication == 'ok' && this.errorMessage != 'ok' "
       class="alert alert-warning">
    <p-dialog [closable]=false header="Fehler!"  [(visible)]="visible" [style]="{width: '30vw'}">
      {{errorMessage}}
      <br>
      <br>
      <button pButton type="button" label = "OK" (click)="refresh()" class="p-button-danger"></button>
    </p-dialog>
  </div>


</div>

<app-list-person></app-list-person>









